<!DOCTYPE html>
<html lang="en" class="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minimal Dark Login</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.3/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>


<!-- <body class="bg-gray-900 text-white min-h-screen overflow-x-hidden"> -->

<body class="min-h-screen flex items-center justify-center bg-gradient-to-br from-gray-950 to-black">
  <%- body %>
    <script src='/js/script.js'></script>
</body>

</html>
